#logo_lerroa img {
   height: 70px;
}

#logo_lerroa {
   height: 70px;
   background-color: #FFFFFF;
   border-bottom: 1px solid #e7e7e7;
}

#menu_lerroa {
   margin-top: 0px;
   margin-bottom: 0px;
}

#itzuli_esteka {
   margin-top: 5px;
   text-decoration: none;
   background-color: #fff;
}

#itzuli_esteka a {
   padding-left: 0px !important;
   padding-right: 0px !important;
   text-decoration: none;
}

#itzuli_esteka a:hover {
   text-decoration: none;
   background-color: #fff;
   padding-left: 0px !important;
   padding-right: 0px !important;
}

#goiburua {
   margin-left: 5px;
   margin-top: 5px;
   width: 55rem;
   text-align: center;
   font-size: 4rem;
}

#goiburua a {
   text-decoration: none;
}

ul#ulzzoo {
   margin-left: 14px !important;
}
ul#ulzzoo li {
   list-style-type: none;
}
.popover {
   z-index: 9999 !important;
}

.popover .editable-buttons {
   margin-left: 15px !important;
}

.divAkzioak {
   display: block;
   height: 18px;
   text-align: right;
}

