@import '~bootstrap';

@import 'backend.css';

@import '~font-awesome/css/font-awesome.css';

.editable-container.editable-inline,
.editable-container.editable-inline .control-group.form-group,
.editable-container.editable-inline .control-group.form-group .editable-input,
.editable-container.editable-inline .control-group.form-group .editable-input textarea,
.editable-container.editable-inline .control-group.form-group .editable-input select,
.editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    width: 100%;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: none !important;
}

.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-menu {
    font-size: 13px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
	font-size: 1.5rem !important;
}